.Password-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 25%;
    margin-top: 7.5vh;
    text-align: center;
}

.Password-form{
    margin-top: 5%;
    box-shadow: 1px 1px 25px black, -1px -1px 15px green;
    padding: 7.5vh 10vw;
    text-align: center;
    margin-bottom: 5vh;
    font-size: 20px;
}

.Password-input{
    margin: 7.5% auto;
    height: 35%;
    width: 100%;
    text-align: center;
    font-size: clamp(0.9375rem, 0.7979rem + 0.7447vw, 3.125rem);
}

.Password-input-range{
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15vw;
    min-width: 125px;
    margin: 0 2.5vw;
}

.Password-input-range::-webkit-slider-runnable-track {
    background-color: #00fa81;
    border-radius: 20rem;
    height: 1.5vh;
}

.Password-input-range::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    margin-top: -12px; 
    background-color: red;
    border: 1px solid brown;
    border-radius: 0.5rem;
    height: 4vh;
    width: 0.5vw;
    min-width: 10px;
}

.Password-input>input:focus{
    outline: none;
}

.Password-input>input[type='checkbox']{
    top: -0.5px;
    left: -7px;
    position: relative;
}

.Password-input>input[type='checkbox']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -7px;
    left: -7px;
    position: relative;
    background-color: rgb(100, 100, 100);
    content: '';
    display: inline-block;
    border: 1px solid white;
}

.Password-input>input[type='checkbox']:checked:after {
    background-color: rgb(0, 200, 0);
    border: 2px solid white;
}

.Password-submit{
    margin-bottom: 5vh;
    padding: 1vh 1.5vw;
    color: rgb(235, 235, 235);
    font-weight: bold;
    background-color: green;
    border: 2.5px solid lime;
    cursor: pointer; 
}

.Password-submit:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 200, 0);
    border: 2.5px solid lime;
}


