.Salary-main{
    outline: 0px solid red;
    min-height: 70vh;
    margin: 5% 15%;
    overflow: hidden;
}

.Salary-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 11.5vh;
}

.Salary-form{
    box-shadow: 1px 1px 25px black, -1px -1px 15px green;
    padding: 5vh 10vw;
    text-align: center;
    margin-bottom: 5vh;
    font-size: 20px;
    width: 40%;
    margin: auto;
    margin-top: -5vh;
}

.Salary-input{
    width: 72%;
    margin: 1.5vh auto;
}

.Salary-input>input{
    max-width: 7.5vw;
    background-color: rgb(100, 100, 100);
    color: rgb(235, 235, 235);
    border: none;
    margin: 0 0.5vw;
    padding: 0.5vh;
}

.Salary-input>input:focus{
    outline: none;
}

.Salary-select>select{
    max-width: 11vw;
    margin: 0 0.5vw;
    background-color: rgb(100, 100, 100);
    color: rgb(235, 235, 235);
}

.Salary-submit{
    margin-top: 5vh;
    padding: 1vh 1.5vw;
    color: rgb(235, 235, 235);
    font-weight: bold;
    background-color: green;
    border: 2.5px solid lime;
    cursor: pointer; 
}

.Salary-submit:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 200, 0);
    border: 2.5px solid rgb(0, 255, 0);
}

.Salary-table-section{
    text-align: center;
    margin-bottom: 5vh;
    font-size: 20px;
    width: 40vw;
    min-width: 500px;
    margin: auto;
}

.Salary-table-section>.Salary-text{
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 7.5vh;
}

.Salary-table{
    margin: auto;
    margin-top: -7.5vh;
    padding: 2vh 0.5vw;
    width: 30vw;
    text-align: center;
}

.Salary-table-categories>td{
    border: 5px solid rgb(0, 128, 0);
    background-color: rgb(0, 128, 0);
    color: rgb(245, 245, 245);
}

.Salary-table-row>td{
    background-color: rgb(245, 245, 245);
    color: rgb(25, 25, 25);
}