footer{
    position: relative;
    width: 100%;
    margin-top: 1vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: -5;
    overflow: hidden;
}

footer>p{
    margin: 0.75vh;
}