header{
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
}

header>h3>a{
    font-size: 30px;
    color: white;
    text-decoration: none;
}
