.Percentage-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 25%;
    margin-top: 7.5vh;
    text-align: center;
}

.Percentage-form-section{
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 2.5vh;
    box-shadow: 1px 1px 25px black, -1px -1px 15px green;
    outline: 0px solid red;
}

.Percentage-form-input{
    margin-top: 5%;
    padding: 7.5vh 10vw;
    text-align: center;
    margin-bottom: 5vh;
    font-size: 20px;
}

.Percentage-form-input>input{
    padding: 0.5vh 0.5vw;
    max-width: 7.5vw;
    background-color: rgb(90, 90, 90);
    color: rgb(245, 245, 245);
    border: none;
    margin: 0 0.5vw;
}

.Inflation-form-input>input::placeholder{
    color: rgb(5, 5, 5);
    font-size: 18px;
}

.Percentage-form-input>input:focus{
    outline: none;
}

.Percentage-submit{
    margin-bottom: 5vh;
    padding: 1vh 1.5vw;
    color: rgb(235, 235, 235);
    font-weight: bold;
    background-color: green;
    border: 2.5px solid lime;
    cursor: pointer; 
}

.Percentage-submit:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(0, 200, 0);
    border: 2.5px solid lime;
}

.Percentage-button{
    margin-bottom: 5vh;
    padding: 1vh 1.5vw;
    color: rgb(235, 235, 235);
    font-weight: bold;
    background-color: rgb(90, 90, 90);
    border: 2.5px solid rgb(235, 235, 235);
    cursor: pointer; 
}

.Percentage-button:hover{
    color: rgb(90, 90, 90);
    background-color: rgb(235, 235, 235);
    border: 2.5px solid rgb(205, 205, 205);
}